<ul class="nav-menu">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/create">Create new blog</a></li>
</ul>